body {
	color: black;
}
h1 {
	font-family: "Impact", serif;
}
h2, h3 {
	font-family: "Georgia", "Caslon", serif;
}
.center {
	text-align: center;
}

.pageTop {
	padding-top: 25px;
	padding-bottom: 20px;
	background-color: rgb(22, 53, 37);
	box-shadow: 0px 10px 5px grey;

	color: white;
}
.pageTop img {
	max-height: 100px;
}

.jumbotron {
	margin: 20px;
	padding: 40px !important;
	border: 3px solid black;
}
.jumbotron p {
	font-size: 21px;
}
.jumbotron ul {
	margin-bottom: 25px;
	font-size: 21px;
}
.jumbotron a {
	margin-right: 10px;
}
.yellow-back {
	background-color: #FDFB8E;
}

.divider {
	margin-top: 50px;
	margin-bottom: 30px;
	border-radius: 10px;
	padding: 10px;
	background-color: rgb(165, 0, 41);
	background: -webkit-linear-gradient(to bottom, rgb(255, 0, 41), rgb(104, 0, 26));
	background: -moz-linear-gradient(to bottom, rgb(255, 0, 41), rgb(104, 0, 26));
	background: linear-gradient(to bottom, rgb(255, 0, 41), rgb(104, 0, 26));
	box-shadow: 5px 10px 5px grey;
	
	text-align: center;
	color: white;
}
.divider h2 {
	font-family: "Georgia", "Caslon", serif;
	font-size: 26px;
	margin: 0
}

#helpModal img {
	max-height: 300px;
}
#helpModal .col-md-3 {
	border-right: 2px solid grey;
}
@media (max-width: 992px) {
	#helpModal .col-md-3 {
		border-right: 0;
		border-bottom: 2px solid grey;
		padding-bottom: 40px;
		margin-bottom: 20px;
	}
}

textarea {
	border: 2px solid grey;
	height: 250px;
	width: 100%;
	white-space: nowrap;
}

.push-right {
	margin-left: 8px;
}
.tip {
	margin-top: 40px;
}
.options {
	position: relative;
	top: 1px;
	display: inline-block;
	border: 1px solid grey;
	padding: 15px 30px;
}
#semester-select {
	margin-right: 100px;
	display: inline-block;
}
#cal-select {
	display: inline-block;
}
#cal-select a {
	margin-left: 15px;
}
.parse-failed {
	margin-top: 20px;
}

/* Lots of table styling */
table {
	margin-top: 0;
	border: 3px solid grey;
}
thead {
	font-weight: bold;
}
.yellow {
	background-color: #FDFB8E;
}
.yellow:hover {
	background-color: #F1EE6D !important;
}
.classname {
	width: 35%;
}
@media (max-width: 1336px) { /* More width on smaller screen */
	.classdays {
		width: 15%;
	}
}
@media (min-width: 1337px) {
	.classdays {
		width: 10%;
	}
}
.classtime {
	width: 20%;
}
.classloc {
	width: 20%;
}
input[type="text"] {
	width: 100%;
}
input[type="date"] {
	font-size: 11px;
	max-width: 115px;
	max-height: 25px;
}
td img {
	min-height: 18px;
	min-width: 58px;
}

.btn-success {
	pointer-events: none;
	cursor: not-allowed;
}
.btn-default {
	border: 2px solid grey;
}

.about {
	margin-top: 75px;
	padding-bottom: 15px;
	
	background-color: rgb(22, 53, 37);
	background: -webkit-linear-gradient(to bottom, rgb(22, 53, 37), rgb(8, 19, 13));
	background: -moz-linear-gradient(to bottom, rgb(22, 53, 37), rgb(8, 19, 13));
	background: linear-gradient(to bottom, rgb(22, 53, 37), rgb(8, 19, 13));
	box-shadow: 0px -10px 5px grey;

	color: white;
}
.about h1 {
	margin-bottom: 30px;
}
.about p {
	margin-bottom: 20px;
}
.contactInfo {
	display: inline-block;
	margin: 30px 0;
	border: 2px solid white;
	border-radius: 10px;
	padding: 0 40px;
}
