.App {
    text-align: center;
}

.App-api-load-failed {
    display: inline-block;
}

.App-step {
    border-top: 1px solid gray;
    padding: 20px;
    transition: background-color 0.5s;
    transition-delay: 0.5s;
}

.App-step-active {
    border-style: groove;
    background-color: rgb(255, 252, 178);
}

.App-heading {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.2em;
    text-align: initial;
    transition-property: font-size, font-weight;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
}

.App-step-active .App-heading {
    font-weight: normal;
    font-size: 1.7em;
}
