.EventTableRow {
    vertical-align: middle;
}

.EventTableRow-full-width {
    width: 100%;
}

.EventTableRow-final {
    background-color: rgb(225, 208, 255);
}

.EventTableRow-final:hover {
    background-color: rgb(209, 184, 255) !important;
}
