.EventTableOptions {
    margin: 10px 0px;
}

.EventTableOptions label {
    margin-right: 5px;
}

.EventTableOptions select {
    margin-right: 10px;
 }

@media (max-width: 991px){
    .EventTableOptions select {
       width: 100%; max-width: 100%;
    }

    .EventTableOptions-row {
        margin: 20px 0px;
    }
}
