.ScheduleInput-input-box {
    border: 2px solid grey;
    height: 200px;
    width: 100%;
    transition: border 0.5s;
}

.ScheduleInput-success-border {
    border: 3px solid lightgreen;
}

.ScheduleInput-failed-border {
    border: 3px solid red;
}

@keyframes notice-animation {
    0% {transform: scale(0.001, 0); background-color: black;}
    50% {transform: scale(0.001, 1);}
}
.ScheduleInput-notice {
    display: inline-block;
    margin: 10px;
    animation-name: notice-animation;
    animation-duration: 1s;
}

.ScheduleInput-parse-failed {
    text-align: initial;
}

@keyframes blinking {
    50% {opacity: 0;}
}
.ScheduleInput-arrow {
    font-size: 2em;
    animation: blinking 1s linear 5;
}
