.EventEditor label {
    color: #41464b;
    font-size: small;
}

.EventEditor-bg-highlighted {
    background-color: #fffff0;
}
.EventEditor-bg-success {
    background-color: mintcream;
}

.EventEditor .text-warning-darker {
    color: #997405;
}

.EventEditor .border-warning-darker {
    border: 2px solid #cc9b06;
    margin-top: -2px;
}

.EventEditor .input-group-text {
    padding: 0.15em 0.5rem;
}

.EventEditor .form-control {
    padding: 0.15em 0.5rem;
}
