.EventTable {
    text-align: initial;
}

.EventTable table {
    margin-top: 0;
    border: 3px solid grey;
    text-align: center
}
.EventTable thead {
    font-weight: bold;
}

.EventTable-options-container {
    display: inline-block;
    margin-left: 20px;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: grey;
    padding: 10px 20px;
}
